Connected Services/ServiceReference/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Jugador">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContraseñaJugador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CorreoJugador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreJugador" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Jugador" nillable="true" type="tns:Jugador" />
  <xs:complexType name="JugadorRegistrado">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContraseñaJugador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreJugador" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JugadorRegistrado" nillable="true" type="tns:JugadorRegistrado" />
</xs:schema>